.home__button {
    text-decoration: none;
    width: 129px;
    height: 42px;
    border-radius: 21px;
    background: $color-light-blue;
    display: flex;
    justify-content: center;
    align-items: center;
}