.home__button {
  text-decoration: none;
  width: 129px;
  height: 42px;
  border-radius: 21px;
  background: #438792;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home__wrapper {
  margin: 0 20px;
}

.home__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.home__container2 {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 400px;
  padding: 30px 0;
}

.home__header {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home__header-image {
  width: 250px;
  margin: 0 0 30px 0;
}

.home__main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home__title {
  width: 223px;
  height: 24px;
  margin: 5px 14px 0 13px;
  font-family: "Merriweather", serif;
  font-size: 19px;
  color: #e17334;
  text-align: center;
}

.home__subtitle {
  margin: 0 0 17px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #114e4e;
  text-align: center;
}

.home__list {
  list-style: none;
  padding: 0;
  width: 268px;
  height: 74px;
  border: solid 2px rgba(225, 115, 52, 0.21);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.home__list-image {
  width: 32px;
  height: 26px;
  color: #e17334;
  font-size: 23px;
}

.home__list-text {
  text-align: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #54585a;
  font-size: 13px;
}/*Button*/.home__button {
  margin: 60px 0;
}

.home__button-text {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}/*tablet*/.main__footer {
  background: #ffffff;
  border-top: solid 1px #d8d8d8;
}

.main__footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}

.main__footer-copy {
  width: 198px;
  height: 20px;
  opacity: 0.5;
  margin: 19px 0 11px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #6b6b6b;
}

.main__footer-image {
  width: 103px;
  height: 40px;
  margin: 0 0 20px;
}

.wrapper {
  margin: 0 20px 0 20px;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.main__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.card__section1 {
  margin-top: 27px;
}

.card__header-image {
  width: 201px;
  padding: 31px 59px 30px 20px;
}

.theme__color {
  width: 30px;
  height: 25px;
}

.design__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.theme {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hide {
  height: 0;
  width: 0;
  display: inline-block;
  overflow: hidden;
}

.design__container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.design__container__title1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
}

.design__title {
  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #54585a;
}

.design__icon {
  margin-right: 5px;
  color: #e17334;
}

.design__subtitle {
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #54585a;
}

.design__container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 31px;
}

.design {
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid lightgrey;
}

.fa-chevron-up {
  color: #54585a;
}

.radio_btn {
  margin-right: 10px;
}

.section__fill {
  border-bottom: 1px solid lightgrey;
}

.fill__container-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0 10px 0;
  cursor: pointer;
}

.fill__title {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 10px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #54585a;
  text-transform: uppercase;
  font-size: 18px;
}

.fill__container_img-keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fill__img-keyboard {
  color: #e17334;
  height: 100%;
  width: 100%;
}

.fill__img-arrow {
  color: #54585a;
  height: 100%;
  width: 100%;
}

.form_field {
  display: block;
  border: 1px solid #a2deaf;
  width: 100%;
  height: 30px;
  margin: 6px 0 20px 0;
}

.form_title {
  font-family: "Open Sans", sans-serif;
  color: #114e4e;
  font-size: 14px;
  line-height: 20px;
}

::-webkit-input-placeholder {
  color: #c5c5c5;
  line-height: 20px;
  padding-left: 10px;
}

:-ms-input-placeholder {
  color: #c5c5c5;
  line-height: 20px;
  padding-left: 10px;
}

::-ms-input-placeholder {
  color: #c5c5c5;
  line-height: 20px;
  padding-left: 10px;
}

::placeholder {
  color: #c5c5c5;
  line-height: 20px;
  padding-left: 10px;
}

.form_title-photo {
  font-family: "Open Sans", sans-serif;
  color: #114e4e;
  font-size: 14px;
  line-height: 20px;
}

.form__photo-preview {
  display: inline-block;
  background-size: cover;
}

.form_field-photo {
  display: none;
}

.form__container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6px 0 20px 0;
}

.form__btn {
  font-family: "Open Sans", sans-serif;
  color: #114e4e;
  font-size: 14px;
  line-height: 20px;
  border-style: none;
  border-radius: 3px;
  width: 140px;
  height: 30px;
  background: #e17334;
  color: #ffffff;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.form__photo-preview {
  border: 1px solid #a2deaf;
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.form__container-github {
  margin-bottom: 30px;
}

.line {
  margin: 0;
  color: #d8d8d8;
  opacity: 0.3;
}

.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.share__section {
  border-bottom: 1px solid lightgrey;
}

.link {
  text-decoration: none;
}

.share__btn--wrapper {
  width: 100%;
  height: 90px;
  padding-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.share__btn--create {
  width: 199px;
  height: 50px;
  font-size: 18px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #e17334;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

.share__btn--create:active {
  background-color: #d5d5d5;
}

.share__title {
  color: #54585a;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0;
}

.share__icon {
  width: 16px;
  height: 18px;
  margin-right: 10px;
  color: #e17334;
}

.share__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #54585a;
  z-index: 99999;
}

.share__arrow {
  width: 16px;
  height: 18px;
  margin-left: 35px;
  color: #54585a;
}

.share__info--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #54585a;
}

.share__paragraph {
  margin-top: 0;
  padding-top: 30px;
  margin: 5px;
}

.share__link--cards {
  color: #e17334;
  font-size: 12px;
}

.share__btn--twitter {
  background-color: #00a0f5;
  width: 181px;
  height: 30px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  border: none;
  color: #ffffff;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  line-height: 30px;
  font-weight: lighter;
}

.fa-twitter {
  width: 18px;
  height: 18px;
  padding-right: 8px;
}

.fa-address-card {
  padding-right: 8px;
}

.preview {
  height: 457px;
  background: -webkit-gradient(linear, left top, left bottom, from(#bfcdd0), to(#dde9ed));
  background: linear-gradient(to bottom, #bfcdd0, #dde9ed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.preview__card {
  width: 240px;
  height: 329px;
  margin: 0 15px 0 25px;
  padding: 88px 0 40px 0;
}

.preview__card--top {
  width: 240px;
  background: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.preview__card--text {
  background: white;
  border-left: solid 5px #a2deaf;
  padding-right: 25px;
  margin-top: 21px;
  margin-bottom: 10px;
  word-wrap: break-word;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.preview--h2 {
  color: #114e4e;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 0 20px;
}

.preview--h3 {
  color: #54585a;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 4px;
  margin: 0 0 0 20px;
}

.preview--h3:first-letter {
  text-transform: uppercase;
}

.preview__reset {
  width: 75px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 15px;
  text-align: center;
  position: absolute;
  top: -50px;
  cursor: pointer;
}

.preview__trash {
  color: #54585a;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.preview__card--image {
  width: 240px;
  height: 200px;
  background: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.preview__card--bottom {
  width: 240px;
  height: 54px;
  background: #ffffff;
  position: relative;
}

.preview__card--sm {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 10px;
  left: 20px;
}

.sm {
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #a2deaf;
  border-radius: 16px;
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sm-link {
  text-decoration: none;
  color: #114e4e;
  overflow: hidden;
  position: relative;
}

.image-access {
  display: none;
}

.access {
  position: absolute;
}

.preview-red .preview--h2 {
  color: #420101;
}

.preview-red .preview--h3 {
  color: #bd1010;
}

.preview-red .preview__card--text {
  border-left: solid 5px #e95626;
}

.preview-red .sm {
  border: 2px solid #e95626;
}

.preview-red .sm-link {
  color: #420101;
}

.preview-grey .preview--h2 {
  color: #3e5b65;
}

.preview-grey .preview--h3 {
  color: #dfe5eb;
}

.preview-grey .preview__card--text {
  border-left: solid 5px #a0c0cf;
}

.preview-grey .sm {
  border: 2px solid #a0c0cf;
}

.preview-grey .sm-link {
  color: #3e5b65;
}

.preview-default .preview--h2 {
  color: #114e4e;
}

.preview-default .preview--h3 {
  color: #54585a;
}

.preview-default .preview__card--text {
  border-left: solid 5px #a2deaf;
}

.preview-default .sm {
  border: 2px solid #a2deaf;
}

.preview-default .sm-link {
  color: #114e4e;
}

.hidden {
  display: none;
}

.js-container-hidden .js-container-panel {
  display: none;
}

.js-container-hidden .container-arrow {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.card__footer {
  background: #ffffff;
  border-top: solid 1px #d8d8d8;
}

.card__footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.card__footer-copy {
  width: 198px;
  height: 20px;
  opacity: 0.5;
  margin: 19px 26px 11px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #6b6b6b;
}

.card__footer-image {
  width: 103px;
  height: 40px;
  margin: 0 0 20px;
}

@media all and (min-width: 768px) {
  .home__wrapper {
    margin: 0 174px;
  }

  .home__header-image {
    width: 419px;
    margin: 0 0 31px 0;
  }

  .home__title {
    font-size: 24px;
  }

  .home__subtitle {
    font-size: 16px;
  }

  .home__list-text {
    font-size: 16px;
  }

  .home__title {
    width: 278px;
    height: 31px;
    margin: 0;
  }

  .home__subtitle {
    margin: 0 0 25px 0;
    width: 331px;
    height: 48px;
  }

  .home__list {
    width: 325px;
    height: 86px;
  }

  .home__list-image {
    font-size: 28px;
  }

  .main__footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 40px 0 41px;
  }

  .main__footer-copy {
    margin: 0;
  }

  .main__footer-image {
    margin: 10px 0;
  }

  .wrapper {
    margin: 0 40px 0 40px;
  }

  .main__card {
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
    background: linear-gradient(to bottom, #f5f5f5, #ffffff);
  }

  .main__card-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .card__section1 {
    margin-right: 30px;
    width: 40%;
  }

  .card__header-image {
    padding: 31px 0 30px 0;
  }

  .preview {
    border-radius: 6px;
    height: auto;
    margin: 20px 0 20px 0;
    width: 100vw;
  }

  .preview__card {
    padding: 223px 0 260px 0;
  }

  .card__footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 40px 0 41px;
  }

  .card__footer-copy {
    margin: 0;
  }

  .card__footer-image {
    margin: 10px 0;
  }
}

@media all and (min-width: 1200px) {
  .home__header-image {
    width: 419px;
    margin: 0 0 31px 0;
  }
}

