$color-white: #ffffff;
$color-black: #000000;
$color-dark-blue: #114e4e;
$color-light-blue: #438792;
$color-hospital-green: #a2deaf;
$color-light-pink: #f9f4dc;
$color-orange: #e17334;
$color-light-grey: #f5f5f5;
$color-grey: #6b6b6b;
$color-dark-grey: #54585a;
$color-orange-transparent: rgba(225,115,52, 0.21);
$color-placeholder: #c5c5c5;
$color-lighter-grey:#d5d5d5;
$share-twitter-btn:  #00a0f5;
$lighter-grey-line:  #d8d8d8;
