.home__header {
  background: $color-light-grey;
  display: flex;
  justify-content: center;
}

.home__header-image {
  width: 250px;
  margin: 0 0 30px 0;
}

@media all and (min-width: 768px) {
  .home__header-image {
    width: 419px;
    margin: 0 0 31px 0;
  }
}

@media all and (min-width: 1200px) {
  .home__header-image {
    width: 419px;
    margin: 0 0 31px 0;
  }
}
